body {
    background-color: black;
    color: white;
    font-family: Special Elite;
}
@media screen and (prefers-color-scheme: light) {
    body {
        background-color: white;
        color: black;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lobster&family=Pacifico&family=Permanent+Marker&family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&family=Special+Elite&display=swap');